@page "/pozoservicelist"

@inject IPozoService PozoService
@using ControWell.Shared
@using System.Net.Http.Json
@inject HttpClient Http
@inject NavigationManager NavigationManager
<h3>Administrar Pozos</h3>


<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre del Pozo</th>
            <th>Ubicacion</th>
            <th>Operadora</th>
            <th>Comentario</th>
            <th>Com</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Pozo in PozoService.Pozos)
        {
                <tr>
                    <td>@Pozo.Id</td>
                    <td>@Pozo.NombrePozo</td>
                    <td>@Pozo.Ubicacion</td>
                    <td>@Pozo.Operadora</td>
                    <td>@Pozo.Comentario</td>
                    <td>
                        <button class="btn btn-primaty" @onclick="(()=>MostrarPozo(Pozo.Id))"><i class="oi oi-pencil"></i></button>
                    </td>
                </tr>
        }
    </tbody>
</table>
<button type="submit" class="btn btn-secondary" @onclick="CreateNewPozo">Crear un nuevo pozo</button>
@code {
    public static List<Pozo> Pozos = new List<Pozo>();

    protected override async Task OnInitializedAsync()
    {
        await PozoService.GetPozo();
    }
    void MostrarPozo(int id)
    {
        NavigationManager.NavigateTo($"pozoedit/{id}");
    }

    void CreateNewPozo()
    {
        NavigationManager.NavigateTo("/pozoedit");
    }
}
